body{
   background:  #CCCCCC;
}

#banner {
}

h1{
 text-aling: center; 
}


p{
text-aling: center;
backgraund: #CCCCCC  
}
#missao {
      font-size:20xp;
}

em strong{
 color: FF00000
}

.itens{
   font-stayle: italic;
}
